#allResources {
    width: 90%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resourceItem {
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.resourcesWords {
    font-weight: bold;
    font-size: calc(12px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.resourcePic {
    width: 110px;
    align-items: flex-center;
    margin-left: auto;
    margin-right: auto;
}


#asanaLogo {
    margin-top: 0.5vw;
    width: 100px;
}

#asanaText {
    margin-top: 10.5px;
}

.a:link, .a:visited, .a:active {
    color: #707070;
}

.a:hover {
    color: #7A15A2
}

@media all and (max-width: 100px) {
    #allResources {
        width: 90%;
        margin: 0 auto;
        list-style: none;
        flex-direction: column;
        display: flex;
        
        justify-content: space-around;
    }

    /* .resourceItem {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    } */
}
