.eventDetail {
  width: 80%;
}

.eventPic {
  width: 100%;
  height: auto;
}

.description {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description.true {
  font-size: 1rem;
}

.description.false {
  font-size: 0.7rem;
}

@media only screen and (max-width: 1025px) {
  .eventDetail {
    width: 100%;
  }

  .description {
    width: 100%;
    text-align: center;
    display: initial;
  }

  .description.false {
    font-size: 1rem;
  }
}
