.eventDetail {
    margin-bottom: 5vh;
    width: 40%;
}

.pic {
    width: 100%;
    height: auto;
}
  
.description {
    font-size: calc(12px * ((100vw - 300px) / (1600 - 300)));
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
}

@media only screen and (max-width: 1025px)  {

    .eventDetail {
        margin-bottom: 2vh;
        width: 100%;
    }
    .description {
       width: 100%;
       text-align: center;
    }
}
  
  
