.main-page {
  width: 75%;
  float: right;
  margin-left: 1vw;
}

.side-bar {
  width: 20%;
  clear: both;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 300px;
  margin-right: 3vw;
  overflow-x: hidden;
}

.main-event {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 0.3rem;
  margin-bottom: 3rem;
}

.main-event .description {
  font-size: 1rem;
}

.event-item {
  display: flex;
  justify-content: center;
}

#events-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

@media only screen and (max-width: 1025px) {
  .entire-page {
    margin: 0 auto;
    width: 90%;
    order: 1;
  }

  .side-bar {
    order: 2;
    width: 80%;
    float: none;
    position: static;
    padding-top: 2vh;
    padding-right: 0px;
  }

  .main-page {
    order: 3;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
  }

  .main-header {
    padding-bottom: 1vw;
  }

  .main-event {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1.5vh;
  }

  .event-item {
    margin-bottom: 1.5vh;
  }

  #events-container {
    display: flex;
    flex-direction: column;
  }
}
