.main-page {
  width: 75%;
  float: right;
  padding-left: 3vw;
}

.main-header {
  font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
}

.side-bar {
  width: 23%;
  float: left;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  padding-top: 300px;
  padding-right: 30px;
  overflow-x: hidden; 
}

#events-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 1025px) {
  .entire-page {
    margin: 0 auto;
    width: 90%;
    order: 1;
  }

  .side-bar {
    order: 2;
    width: 80%;
    float: none;
    position: static; 
    padding-top: 2vh;
    padding-right: 0px;
  }

  .main-page {
    order: 3;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
  }

  .main-header {
    padding-bottom: 1vw;
  }
}
