.entire-page {
  font-family: "Roboto", sans-serif;
}

.main-page {
  width: 75%;
  float: right;
  padding: 10px;
}

.main-header {
  font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
}

.side-bar {
  width: 23%;
  float: left;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  padding-top: 300px;
  padding-right: 30px;
  overflow-x: hidden; 
}
