.directory-page {
  width: 100vw;
}

#header {
  font-weight: bold;
  font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
  display: flex;
  justify-content: center;
  position: relative;
}

#header-text {
  display: inline;
  text-align: center;
  margin: 0 auto;
}

table.admin-view thead tr th {
  vertical-align: middle;
}

#directory-page {
  margin: 0 auto;
  margin-bottom: 450px;
}

#mainPG {
  width: 95%;
  margin: 0 auto;
}

#points-display {
  width: 100%;
}

#user-table {
  margin-bottom: 50px;
}

#display-header {
  float: left;
  font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 1vw;
}

@media only screen and (max-width: 1025px) {
  #header-text {
    width: 100vw;
    text-align: initial;
  }

  #addButton {
    position: absolute;
    right: 15%;
  }
}
