.directory-page {
  width: 100vw;
}

#header {
  font-weight: bold;
  font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
  display: flex;
  justify-content: center;
  position: relative;
}

#header-text {
  display: inline;
  text-align: center;
  margin: 0 auto;
}

table.admin-view thead tr th {
  font-size: 0.9rem;
  vertical-align: middle;
  position: relative;
}

#directory-page {
  margin: 0 auto;
  margin-bottom: 450px;
}

#mainPG {
  width: 95%;
  margin: 0 auto;
}

#points-display {
  width: 100%;
}

#user-table {
  margin-bottom: 50px;
}

#display-header {
  float: left;
  font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 1vw;
}

#add-edit-box.to-member {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#add-edit-box.to-member > .dropdown {
  margin-right: 2rem;
}

table.admin-view thead > tr th span button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}

table.admin-view thead > tr th span button .icon:first-child {
  margin-bottom: -80%;
}

table.admin-view thead > tr th span button .icon:nth-child(2) {
  margin-top: -80%;
}

@media only screen and (max-width: 1025px) {
  #header-text {
    width: 100vw;
    text-align: initial;
  }

  #add-edit-box.to-member {
    position: absolute;
    top: -150%;
    right: -20%;
  }

  #add-edit-box.to-member > .dropdown {
    margin-right: 1rem;
  }

  .btn-group-vertical {
    transform: translateX(-50%);
    margin: 1px auto;
  }
}
