#events-page {
  font-family: "Roboto", sans-serif;
}

#header-text {
  display: inline;
  text-align: center;
  font-weight: bold;
  font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
  display: block;
}

thead {
  color: #7A15A2;
  border: 3px solid black;
}

#eventTable {
  width: 85%;
  margin: 0 auto;
  border: 3px solid black;
  margin-bottom: 2vw;
}

.col-name {
  table-layout: fixed;
  width: 20%;
}

.col-description {
  table-layout: fixed;
  width: 40%;
}

.col-other {
  table-layout: fixed;
  width: 10%;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #7A15A2;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
}
