#addeventform {
  width: 100%;
  margin: 0 auto;
}


#add-button {
  float: left;
}

@media all and (max-width: 550px) {
  #userInputFields {
    display: flex;
    flex-direction: column;
  }

  #account-details {
    order: 1;
    width: 100%;
  }

  #add-button {
    clear: both;
    order: 3;
  }
}
