#calendarPage {
    width: 80%;
    margin: 0 auto;
    padding-top: 1vw;
    padding-bottom: 4vw;
}

#header {
    font-weight: bold;
    font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 1vw;
}

#header-text {
    display: inline;
    text-align: center;
    margin: 0 auto;
}

#addButton {
    font-weight: bold;
    color: #707070;  
    position: absolute;
    right: 0;
    margin-top: 0.2vw;
    padding-right: 9vw;
}

#calendar {
    height: 50rem;
    overflow-y: hidden;
}

.fc-widget-content {
    overflow-y: hidden;
}