.add-user-pg {
    font-family: "Avenir Next", Georgia, 'Times New Roman', Times, serif;
}

.header {
    font-weight: bold;
    font-size: 35px; 
}

.account-details, .committee-access {
    display: inline-block;
}

.hidden {
    display: none;
}

.add-details {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.addUser-button {
    float: left;
}

.account-details {
    width: 65%;
    float: left;
    padding-bottom: 50px;
}

.ac-header {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
}

.committee-access {
    float: right;
    width: 90%;
}

.cm-header {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
}

.check-boxes {
    float: left;
}

@media screen and (max-width: 700px) {
    .add-details {
        display: flex;
        flex-flow: column;
    }

    .account-details {
        order: 1;
        margin: auto;
        padding-bottom: 15px;
    }

    .committee-access {
        order: 2;
        margin: auto;
        width: 90%
    }

    .account-details .addUser-button {
        order: 3;
        margin: auto;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 40782653a3e180c848cc937454cbaf745b7457ab
