#calender {
  height: 50rem;
  overflow-y: hidden;
  width: 80vw;
}

.fc-widget-content {
  overflow-y: hidden;
}

.fc-view-container {
  width: 85vw;
  margin: 0 auto;
}

.fc-toolbar {
  width: 85vw;
  margin: 0 auto;
}

.fc-button {
  transition: all 300ms ease-in-out;
  background: #3a87ad;
  color: #f4f4f4;
}

.fc-button:hover {
  background: #3a87cd;
  transition: all 300ms ease-in-out;
}

.fc-content {
  transition: all 300ms ease-in-out;
}

.fc-content:hover {
  background-color: #3a87cd;
  transition: all 300ms ease-in-out;
}