.directory-page {
    font-family: "Avenir Next", Georgia, 'Times New Roman', Times, serif;
}

.header {
    font-weight: bold;
    font-size: 35px;
}

.committee-name {
    font-weight: bold;
    font-size: 20px;
    width: auto;
}

.add-edit-box {
    font-weight: bold;
    color: #707070;
}

.editbox {
    padding-right: 5px;
}

a:hover,
a:visited {
    color: #707070
}

a:hover {
    color: #AC539B
}

.title {
	column-span: all;
}	

.list{
	column-count: 4;
}