header {
    border: 1px solid powderblue;
    padding: 30px;
}

img {
    width: 100%;
    height: auto;
}

.navbar {
    width: 100%;
    text-align: center;
}

li {
    float: none;
    display: inline-block;
} 