.entire-page {
    font-family: "Avenir Next", Georgia, 'Times New Roman', Times, serif;
}

.main-page {
    width: 75%;
    float: left;
}

.main-header {
    font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

.side-bar {
    width: 20%;
    float: left;
} 

.gmm-header {
    width: 100%;
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    background: #AC539B;
    border-radius: 15px;
    font-family: "Avenir Next";
    font-weight: bold;
    position: relative;
    color: #ffffff;
    text-align: left;
    padding-left: 1.2vw;
}

.date-box {
    font-weight: bold;
}

.location-box {
    width: 100%;
    font-family: "Avenir Next";
}


.committee-times-header {
    margin-top: 90px;
    width: 100%;
    background: #AC539B;
    border-radius: 15px;
    font-family: "Avenir Next";
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    padding-left: 1.2vw;
}

.committee-times {
    font-family: "Avenir Next";
    padding-left: 5px;
    padding-right: 5px;
}

@media all and (max-width: 500px) {
    .entire-page {
        font-family: "Avenir Next", Georgia, 'Times New Roman', Times, serif;
        display: flexbox;
    }
    
    .main-page {
        width: 90%;
        order: 2;
        margin:0 auto;
    }
    
    .main-header {
        font-size: calc(18px + (50 - 18) * ((100vw - 300px) / (1600 - 300)));
        font-weight: bold;
        order: 1;
        width: 100%;
    }
    
    .side-bar {
        width: 100%;
        order: 3;
        text-align: center;
    } 
    
    .gmm-header {
        width: 80%;
        display: inline-block;
        font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
        background: #AC539B;
        border-radius: 15px;
        font-family: "Avenir Next";
        font-weight: bold;
        position: relative;
        color: #ffffff;
        text-align: left;
        padding-left: 1.2vw;
    }
    
    .date-box {
        font-weight: bold;
    }
    
    .location-box {
        width: 80%;
        display: inline-block;
    }
    
    
    .committee-times-header {
        width: 80%;
        display: inline-block;
        background: #AC539B;
        border-radius: 15px;
        font-family: "Avenir Next";
        font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
        font-weight: bold;
        color: #ffffff;
        text-align: left;
        padding-left: 1.2vw;
    }
    
    .committee-times {
        display: inline-block;
        font-family: "Avenir Next";
        padding-left: 1.2vw;
        padding-right: 1.2px;
    }
}