.header {
    font-family: "Avenir Next";
    font-weight: bold;
    font-size: 35px;
}

.resource-box {
    color: #707070;
    font-family: "Avenir Next";
    font-weight: bold;
    font-size: 20px;
}

.half {
    width: 10%; 
    height: auto;
}

.volunteer-sheet {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.marketing {
    display: inline-block;
    padding-right: 30px;
}

.points {
    display: inline-block;
    padding-right: 30px;
}

.slack {
    display: inline-block;
    padding-right: 30px;
}

.accountability { 
    display: inline-block;
    padding-right: 30px;
}