.add-user-pg {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-weight: bold;
    font-size: calc(18px + (30 - 15) * ((100vw - 300px) / (1600 - 300))); 
}


.hidden {
    display: none;
}

.add-details {
    width: 85%;
    margin: 0 auto;
}

#committee-form {
    width: 80%;
    margin: 0 auto;
}

.ac-header {
    color: black;
    font-weight: bold;
    font-size: calc(14px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 15px;
}

.cm-header {
    color: black;
    font-weight: bold;
    font-size: calc(14px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 15px;
}

.check-boxes {
    float: left;
}

.div-half {
    float: left;
}

.input-left {
    margin-right: 2%;
}

#add-button {
    float: left;
}

@media all and (max-width: 550px) {
    .add-details {
        width: 85%;
    }

    #userInputFields {
        display: flex; 
        flex-direction: column;
    }

    #account-details {
        order: 1;
        width: 100%;
    }

    #committee-access {
        order: 2;
        width: 100%;
    }

    #add-button {
        clear: both;
        order: 3;
    }

}